// theme 蓝
// $primary-color: #ae4949;
// $accent-color: #ae4949;
// $title-color: #22406a;
// $header-color: #22406a;
// $header-text-color: #8fbcbd;
// $header-background-opacity: 0.5;
// $header-background-invert: 25%;

// theme 绿
$primary-color: #ba4b13;
$accent-color: #c5dec8;
$title-color: #368091;
$header-color: #368091;
$header-text-color: #f0cc3e;
$header-background-opacity: 0.5;
$header-background-invert: 55%;

// theme 红
// $primary-color: #1c502a;
// $accent-color: #1c502a;
// $title-color: #a81e32;
// $header-color: #a81e32;
// $header-text-color: #f1f3ef;
// $header-background-opacity: 0.5;
// $header-background-invert: 25%;
