---
layout: page
---

{{ content }}
<ul id="archive">
      {% for lab in site.labs %}
      <li class="archiveposturl" style="background: transparent">
            <a href="{{ lab.url | prepend: site.baseurl}}">{{ lab.title }}</a>
            <strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
                  <a title="查看实验手册" href="{{ lab.pdf }}" target="_blank"><i class="fas fa-file-pdf"></i></a>
                  {% if lab.checklist %}
                  <a title="查看实验检查表" href="{{ lab.checklist }}" target="_blank"><i class="fas fa-list"></i></a>
                  {% endif %}
                  {% if lab.attachment %}
                  <a title="下载附件" href="{{ lab.attachment | prepend: site.baseurl }}"><i
                              class="fas fa-file-archive"></i></a>
                  {% endif %}
            </strong>
      </li>
      <div class="lab-content" style="padding: .2em 0em .1em .5em;">{{ lab.tldr }}</div>
      {% endfor %}
</ul>
